<div class="navbar">
    <a href="https://ics.curitiba.org.br/" target="_blank"> <strong>ICS</strong> Beneficiario </a>
    <a routerLink="/home">Painel de Controle</a>
    <a routerLink="/consultas">Consultas</a>
    <a routerLink="/avisos">Avisos</a>
    <a routerLink="/pagamentos">Pagamentos</a>
    <a routerLink="/ajuda">Ajuda</a>
    <a routerLink="/protocolos">Protocolos</a>
    <a routerLink="/contato">Contato</a>
    <a routerLink="/perfil">Perfil</a>



     

  </div>























  
  