.section{

    padding: 15px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    
}

img{

    margin: 20px;
}

.painel{
    border-radius: 10px;
    background-color: rgb(80, 131, 80);
    padding: 15px;
    width: 100px;
    height: 150px;
    margin: auto;

    
}

































//novamente na de parecer que estou trabalhando por que estou com uma puta dor de cabeca que merda n aguento mais preciso urgente ir para casa caralho nmrl estou aqui igual um idiota sem fazer nada por que 