<app-menu />

<h1>Painel de Controle</h1>


<div class="section">
    <div class="painel">
        <h4>Consultas</h4>
        <img src="../../../assets/img/farmacia.png" style="width: 50px; opacity: 70%;">
    </div>
    <div class="painel">
        <h4>Pagamentos</h4>
        <img src="../../../assets/img/farmacia.png" style="width: 50px; opacity: 70%;">
    </div>
    <div class="painel">
        <h4>Protocolos</h4>
        <img src="../../../assets/img/farmacia.png" style="width: 50px; opacity: 70%;">
    </div>


</div>
 