.section{

    padding: 15px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    
}

img{

    margin: 20px;
    width: auto;
}

.painel{
    border-radius: 10px;
    background-color: #00A65A   ;
    padding: 15px;
    width: auto;
    height: 150px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    
}
