<app-menu />

<h1 style="text-align: center; margin: 50px;">Painel de Controle</h1>


<div class="section">
    <div class="painel">
        
        <h2>Consultas</h2>
        <img src="../../../assets/img/icones/doutor.png" style="width: 100px;">
    </div>
    <div class="painel">
        <h2>Pagamentos</h2>
        <img src="../../../assets/img/icones/codigo-de-barras-lido.png" style="width: 100px;">
    </div>
    <div class="painel">
        <h2>Protocolos</h2>
        <img src="../../../assets/img/icones/fone-de-ouvido.png" style="width: 100px;">
    </div>


</div>

 