body{
    text-align: center;
    margin: auto;
}


.avisos{
    text-align: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    align-items: center;
    margin-bottom: 10vh;
    

    .card{ 
        border-radius: 5px;
        padding: 10px;
        padding-bottom: 30px;
        background-color: #00A65A;
        justify-content: space-between;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        

        img{
            max-width: 300px;
        }
    }
}