*{
    margin: 0;
}


.perfil{
    width: 500px;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
    background-color: #d1ece0;
    text-align: center;
    border: 3px;
    border-color: red;
    border-width: 5px;
    border-style: dotted;


}