.footContent {
    color: rgb(198, 255, 198);
    text-align: center;
    background-color: #00A65A;
    padding: 10px;
    bottom: 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    flex-wrap: wrap;
    display: flex;
}

.capsulas{
    margin: auto;

}

img{
    margin: 10px;
}


.dowload{
    
    margin: auto;
}
